# Qualcomm MSM camera
type camera, domain;
type camera_exec, exec_type, file_type;

type camera_prop, property_type;

# Started by init
init_daemon_domain(camera)

allow camera self:process execmem;

# Interact with other media devices
allow camera camera_device:dir search;
allow camera { video_device camera_device }:chr_file rw_file_perms;
allow camera { surfaceflinger mediaserver }:fd use;

# Create front and back camera sockets (/data/cam_socket[01])
type_transition camera system_data_file:sock_file camera_socket "cam_socket0";
type_transition camera system_data_file:sock_file camera_socket "cam_socket1";
allow camera camera_socket:sock_file { create unlink };
allow camera system_data_file:dir w_dir_perms;
allow camera system_data_file:sock_file unlink;

type_transition camera system_data_file:file camera_data_file "fdAlbum";
allow camera camera_data_file:file create_file_perms;

# mm-qcamera-daemon needs this. Why? Who knows!
allow camera gpu_device:chr_file { open read write ioctl };

# Connect to sensor socket (/data/app/sensor_ctl_socket)
unix_socket_connect(camera, sensors, sensors)
allow camera sensors_socket:sock_file read;

allow camera servicemanager:binder { call transfer };
allow camera system_server:binder { call transfer };
allow system_server camera:binder { call transfer };
allow servicemanager camera:process getattr;
allow servicemanager camera:dir search;
allow servicemanager camera:file rw_file_perms;
allow camera system_server:unix_stream_socket { read write };
